header{
  background-color: rgb(41, 41, 42);
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a{
  font-size: 20px;
  margin-right: 30px;
  color: white;
  text-decoration: none;
}
header a:hover{
  text-decoration: underline;
 }
.container{
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;

}
h1{
  text-align: center;
}
main{
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a{
 text-decoration: none;
 color: rgb(15, 14, 14);
}
main a:hover{
  text-decoration: underline;
 }
 .active{
  cursor: default;
  color: rgb(69, 69, 123);
 }